html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Colors */
:root {
  /* Colors */
  --main-blue: #12343B;
  --main-sec-blue: #2D545E;
  --sec-blue-grey:#60777C;
  --light-gold:#E1B382;
  --dark-gold:#B16900;
  /* fonts */ 
  --georgia-font:Georgia, Times, "Times New Roman", serif ;
  --raleway-font: 'Raleway', sans-serif;
}

/* Typography */
h1{
  font-family: 'capitolium-news-2', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 2px;
}
h1 { font-size: 3.5rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.3rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.5rem; line-height: 1.2;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.02rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }


.small-header-light, 
.small-header-dark{
  margin-bottom: 1px;
  margin-top: 0;
  font-size: 17px;
  font-family: var(--georgia-font); 
  letter-spacing: 0px;
  font-weight: 300;
}

.small-header-light{ color:var(--light-gold) }
.small-header-dark{ color:var(--dark-gold); }

.areas-link{
  font-family: var(--georgia-font);
  font-weight: 500;
  font-size: 2rem;
  position: relative;
  cursor: pointer;
  margin-left: 35px;
  transition: .3s;

}

.areas-link::before{
  content: "";
  position:absolute;
  height: 4px;
  width: 25px;
  background-color: var(--light-gold);
  top: 18px;
  left: -30px;
  transition: .3s;
  z-index: 1;
}

.areas-link:hover{
  margin-left: 45px;
}
.areas-link:hover::before{
  width: 15px;
}

.area-styles h3{
  font-family: 'georgia';
  font-size: 1.5rem;
  font-weight: 500;
}

/* Buttons */
.btn-main,
.btn-main_black{
  font-family: var(--georgia-font);
  text-decoration: none;
  position: relative;
  font-size: 15px;
}
.btn-main{ color: white;}
.btn-main_black{ color:black; }

.btn-main::before,
.btn-main_black:before{
  content: "";
  height: 2px;
  width: 50%;
  background-color: var(--light-gold);
  position: absolute;
  top: 18px;
  left: 0px;
  transition: .3s;
}

.btn-main:hover::before,
.btn-main_black:hover::before{
  width: 100%;
}

/* FAQ section */
.faq{
  margin: 35px 0;
}
@media only screen and
 (min-device-width : 768px) and 
 (max-device-width : 1024px) and 
 (orientation : landscape){
   .faq-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
   }
    .faq_imgBox{
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      width: 100%;
      height: 430px;
      transform:translate3d(-20px,0,0) ;
      opacity: 0;
      transition: all .55s ease-in;
    }
    .faq_content{
      margin-top: 9%;
    }
 }

 @media only screen and ( min-width: 1024px){
   .faq-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
   }
   .faq_imgBox{
     height: 400px;
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover;
   }
   .faq_content{
     margin-top:9%;
   }
 }

 /* Footer */



/* Container styles */

.container{
  width: 100%; 
  margin: auto;  
  padding: 15px;
}

@media(min-width: 640px){
  .container{
      max-width: 640px;
  }
}

@media(min-width: 768px){
  .container{
      max-width: 768px;
  }
}

@media(min-width:1024px){
  .container{
      max-width: 1024px;
  }
}
