html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Colors */
:root {
  /* Colors */
  --main-blue: #12343B;
  --main-sec-blue: #2D545E;
  --sec-blue-grey:#60777C;
  --light-gold:#E1B382;
  --dark-gold:#B16900;
  /* fonts */ 
  --georgia-font:Georgia, Times, "Times New Roman", serif ;
  --raleway-font: 'Raleway', sans-serif;
}

/* Typography */
h1{
  font-family: 'capitolium-news-2', sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 { font-size: 3.5rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.3rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.5rem; line-height: 1.2;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.02rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
/* Container styles */

.container{
  width: 100%; 
  margin: auto;  
  padding: 15px;
}

@media(min-width: 640px){
  .container{
      max-width: 640px;
  }
}

@media(min-width: 768px){
  .container{
      max-width: 768px;
  }
}

@media(min-width:1024px){
  .container{
      max-width: 1024px;
  }
}
