.above-the-fold{
  height: 65vh;
}
.cta_box{
    color: black;
    /* padding: 25px; */
}
.cta_box_content h1{
  animation:fade-in .5s ease-out ;
}

.main_cta{
  font-size: 3rem;
}

.cta_box_content h4{
  animation: fade-in 1s ease-out ;
}


@media only screen and
 (min-device-width : 768px) and 
 (max-device-width : 1024px) and 
 (orientation : landscape){
    .cta_box{
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .cta_box_content{
      padding: 35px;
    }
 }

.sub_cta{
  font-family: 'raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.cta_btn{
  display: inline-block;
  background:var(--dark-gold); ;
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 10px;
  border-radius: 2px;
  animation: fade-in 1.5s ease-out;
  transition: .3s;
}

.cta_btn:hover{
  background-color: var(--dark-gold);
  color: white;
}

@media (min-width: 900px){
  .cta_box{
    display: flex;
    flex-direction: row;
    padding: 25px;
}
.cta_box_content{
  padding: 0 5px 0;
  height: 60vh;
}
  .cta_box_imgBox{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 130%;
    animation: fade-in 2s;
  }
}

@media only screen and (min-device-width : 768px) and 
(max-device-width : 1024px) and 
(orientation : portrait){
  .cta_box{
    display: flex;
  }
  .cta_box_imgBox {
    background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      width: 100%;
  }
}

@media only screen and
 (min-device-width : 768px) and 
 (max-device-width : 1024px) and 
 (orientation : landscape){
    .cta_box_imgBox{
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      width: 100%;
    }
 }

/* CTA Animations */
 @keyframes fade-in {
  0% {
    opacity:0;
    transform: translate(-10px);
  }
  100% {
    opacity:1;
    transform: translate(0px);
  }
}